{% block content %}

{% load static %}
<!-- Include Bootstrap CSS and JS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="{% static 'VideoSummarizer.css' %}">
<link rel="stylesheet" href="{% static 'loader.css' %}">

<div class="section-img">
    <div class="step-img">
        <img src="{%static 'video-step-1.png'%}" alt="">
        <div class="img-content">
            <p>STEP 1- ENTER YOUR URL</p>
        </div>

    </div>

    <div class="step-small-img">
        <img src="{%static 'arrow_.png'%}" alt="">
    </div>

    <div class="step-img">
        <img src="{%static 'youtube-icon-removebg-preview.png'%}" alt="">
        <div class="img-content">
            <p>STEP 2- CLICK ON GENERATE</p>
        </div>
    </div>

    <div class="step-small-img">
        <img src="{%static 'arrow_.png'%}" alt="">
    </div>

    <div class="step-img">
        <img src="{%static 'video-step-3.png'%}" alt="">
        <div class="img-content">
            <p>STEP 3- SUMMARY GENERATED</p>
        </div>
    </div>
</div>

<div id="starting-area">
    <h2 class="heading">NOW LET'S initiate the process
    </h2>
</div>


<form action="" class="container" method="post" onchange="">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" class="form-control" style="font-size: 20px;" name="video_url" value="{{video_url}}"
            placeholder="Enter the URL of a 10-minute video (English)" aria-label="Username"
            aria-describedby="basic-addon1" required>
        <button class="border-0 load" type="submit">
            <span class="px-2 py-0 d-flex flex-column align-items-center" id="basic-addon1"><svg
                    xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-youtube"
                    viewBox="0 0 16 16">
                    <path
                        d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408z" />
                </svg>
                <span>Generate</span>
            </span></button>
    </div>

    <!-- pop-up loading -->
    <div id="loading-overlay">
        <div id="loading-modal">
            <div class="waviy">
                <span style="--i:1;color: #273c75;font-size: 70px;font-weight: 500;">c</span>
                <span style="--i:2;color: #273c75;">s</span>
                <span style="--i:3;color: #273c75;">h</span>
                <span style="--i:4;color: #273c75;">a</span>
                <span style="--i:5;color: #273c75;">r</span>
                <span style="--i:6;color: #273c75;">p</span>
                <span style="--i:7;color: rgb(211, 58, 3);font-size: 70px;">a</span>
                <span style="--i:8;color:rgb(211, 58, 3);font-size: 70px;">i</span>
            </div>
        </div>
    </div> 

    <div class="text-box">
        <div class="field-result">
            <label for="summary">Key Points</label>
            <div id="summary" readonly>
                {{ summary|safe }}
            </div>
        </div>
        <div class="field-result">
            <label for="descriptive_summary">Summary</label>
            <div id="descriptive_summary" readonly>{{ descriptive_summary|safe }}</div>
        </div>
    </div>

</form>

<script src="{% static 'video_summary.js' %}"></script>
<script src="{% static 'loader.js' %}"></script>
{% endblock %}
